.icon {
    height: 10vh;
    float: left;
    padding-left: 20px;
    padding-top: 20px;
    max-height: 50%;
    max-width: 20%;
    vertical-align: middle;
}

.delivery-icon {
    height: 10vh;
    float: left;
    padding-left: 10px;
    padding-top: 10px;
    max-height: 70%;
    max-width: 55%;
    vertical-align: middle;
}

.detail {
    padding-top: 15px;
    padding-right: 5%;
    padding-left:5px;
    margin-right: 5px;
    float: right;
    color:black;
    overflow: auto;
}

.delivery-info {
    padding-top: 15px;
    padding-right: 15px;
    float: right;
    color:black;
    overflow: auto;
}

/*. box/.close classes code adapted from W3School modal guide */
.box {
    display: hide;
    position: fixed; 
    z-index: 1; 
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.container-box {
    width: 35rem;
    max-width: 80%;
    height: 5rem;
    margin: auto;
    margin-left: 30%;
}

.delivery-box {
    width: 35rem;
    max-width: 80%;
    height: 5rem;
    margin: auto;
    margin-left: 30%;
}

.box-header {
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-right: 5px;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.container-photos {
    overflow: auto;
    min-height: 215px;
}

.card-image{
    width: auto;
    max-height: 200px;
    padding: 10px;
    display: inline-block;
}

a {
    float: right;
    text-emphasis: none;
    color: inherit;
    font-size: 20px;
}

/* for mobile users */
@media only screen and (max-width: 768px) {
    .icon {
        padding-left: 3px;
    }

    .deliveryicon {
        padding-left: 3px;
    }
    .container-box{
        margin-left:9%;
    }
    .detail {
        font-size: 14px;
        padding-right: 3px;
        overflow-wrap: normal;
    }
    #delivery.delivery-box{
        margin-left: 9%;

    }

    a {
        font-size: 13px;
    }
}

@media only screen and (max-width: 480px) {
    .delivery-box {
        height: 13rem;
    }

    .delivery-info {
        padding-top: 0px;
        padding-right: 3px;
    }
    .container-box{
        margin-left:10%;
        width:100%;
    }
    #delivery.delivery-box{
        margin-left: 10%;

    }
}