body {
    margin: 0;
    padding: 0;
    text-align: center;
    background: url(https://i.ytimg.com/vi/TNEk4GfEmLs/maxresdefault.jpg) no-repeat 
    center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.logo {
    margin-top: 80px;
      position: relative;
      width: 100%;
     max-width: 400px;
     height: auto;
   
}
.text1 {
       color: black;
       font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
       font-size: 60px;
       font-weight: 700;
       font-size: 75px;
       position: relative;
       top: 60px;
       letter-spacing: 3px;
       margin-bottom: 20px;
       position: relative;
       animation: text 4s;
     }
     @keyframes text {
        0%{
            color: beige;
            margin-bottom: -40px;
         }
         20%{
             letter-spacing: 25px;
             margin-bottom: -40px;
         }
         85%{
             letter-spacing: 8px;
             margin-bottom: -40px;
         }

     }
     h2 {
         margin-top: -50px;
         font-family: cursive;
         font-size: 30px;
     }

    .results {
        margin-top: -50px;
        box-shadow: 1px 1px 5px 1px #888888;
        width: 30rem;
        max-width: 90%;
        height: 0rem;
        margin-bottom: 10px;
        margin-left: 5%;
        background-color: white;
        cursor: pointer;
		margin: 15px 0;
    }
    #submit:hover {
        cursor: pointer;
    }



body {
    margin: 0;
    padding: 0;
    background-color:whitesmoke;
    text-align: center;
    background: url(https://i.ytimg.com/vi/TNEk4GfEmLs/maxresdefault.jpg) no-repeat 
    center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#text{
    color: rgb(20, 2, 2);
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}
.animated-gif {
    border-radius: 25px;
}
.slidecontainer {
        outline: none;
    }
    .results {
        box-shadow: 1px 1px 5px 1px #888888;
        width: 30rem;
        max-width: 90%;
        height: 10rem;
        margin-bottom: 10px;
        margin-left: 5%;
        background-color: white;
    }
 #results-content {
     margin-top: 65px;
 }
    .brewerylogo {
        height: 20vh;
        float: left;
        padding: 10px 10px 10px;
        max-height: 70%;
        max-width: 40%;
    }
    .title {
        padding-top: 15px;
    }
    .results:hover {
        cursor: pointer;
        box-shadow: 5px 5px 25px 5px #532719;
    }
    #header {
        background-color: white;
        height: 60px;
        width: 100%;
        position: fixed;
        box-shadow: 5px 5px 25px 5px #532719;
        margin-top: 0;
    }
    
    #homeIcon {
        height: 40px;
        padding-top: 8px;
    }

    #map {
        float: right;
            height: 545px;
            width: 40%;
            margin-top: 7%;
            margin-right: 30px; 
            position: fixed;
            
        }

        #results-content, #results {
            float: left;
            margin-right: 10px;
            margin-left: 90px ;
            padding-left: 0px;
        
        }

        @media screen and (max-width: 1035px) {
            #results-content, #results {
                margin-left: 10px;
            }
        }
   
        @media screen and (max-width: 900px) {
            #map {
             height: 400px;  /* The height is 400 pixels */
             width: 100%;  /* The width is the width of the web page */
             padding-right: 0px;
             margin-right: 0px;

                    
                }
        
        }
